<VirtualHost *:443>
 ProxyRequests Off
 ProxyPreserveHost On
 ProxyVia On

 RewriteEngine on

 DirectoryIndex  index.html  index.php  /_h5ai/public/index.php

 DocumentRoot /var/www/html

 <Directory /var/www/html>
   Order deny,allow
   Allow from all
 </Directory>

 <Directory /var/www/html/unsecure>
   Options +ExecCGI
 </Directory>

 LogLevel debug
 OIDCOAuthAcceptTokenAs cookie:expiringToken
 OIDCOAuthRemoteUserClaim email
 OIDCOAuthTokenExpiryClaim expires_in relative optional
 OIDCOAuthTokenIntrospectionInterval 3600
 OIDCOAuthIntrospectionEndpointAuth none
 OIDCOAuthIntrospectionEndpoint http://<%= ENV['NODE_SERVER_HOSTNAME'] %>:<%= ENV['NODE_SERVER_PORT'] %>/profile.js
 OIDCOAuthIntrospectionEndpointMethod GET
 OIDCOAuthIntrospectionTokenParamName pennidinh_token

 <% require 'redis' %>
 <% redis = Redis.new(host: "redis") %>
 <% adminUsers = redis.smembers('admin-users') %>
 <% adminUsersString = adminUsers.empty? ? '.*' : adminUsers.join('|').gsub('.', '\.').gsub('@', '\\\100').gsub('+', '\+') %>
 Define allowedEmailAddressesClaim email~(<%= adminUsersString %>)

 ErrorDocument 401 /401.php
 <Directory /var/www/html/secure>
   AuthType oauth20
   Require claim ${allowedEmailAddressesClaim}
 </Directory>
 <Location /secure/ovpsn>
   Require all granted
 </Location>
 <Location /secure/uploads/public>
   Require all granted
 </Location>

 <Location /secure-node-js>
   AuthType oauth20

   Require claim ${allowedEmailAddressesClaim}
 </Location>
 <Location /secure-node-js/userInfo.json>
   AuthType oauth20

   Require claim "email~.*"
 </Location>
 <Location /secure-node-js/logout.js>
   AuthType oauth20

   Require claim "email~.*"
 </Location>
 <Location /secure-node-js/hostInfo.js>
   Require all granted
 </Location>
 <Location /secure-node-js/acceptAccessToken.js>
   Require all granted
 </Location>
 <Location /secure-node-js/authentication-ping.json>
   AuthType oauth20

   Require claim "email~.*"
 </Location>
 <Location /secure-node-js/authorization-ping.json>
   AuthType oauth20

   Require claim ${allowedEmailAddressesClaim}
 </Location>
 <Location /secure-node-js/login.js>
   Require all granted
 </Location>
 <Location /secure-node-js/handlePenniDinhAuthCode.js>
   Require all granted
 </Location>
 <Location /secure-node-js/getAccessToken.js>
   Require all granted
 </Location>
 <Location /secure-node-js/setLoginCookieAndRedirect.js>
   Require all granted
 </Location>
 <Location /secure-node-js/loginV2.js>
   Require all granted
 </Location>
 <Location /secure-node-js/profile.js>
   Require all granted
 </Location>
 <Location /secure-node-js/receiveAuthToken.js>
   Require all granted
 </Location>
 <Location /secure-node-js/loginSuccess.js>
   Require all granted
 </Location>

 ProxyPass /secure-node-js http://<%= ENV['NODE_SERVER_HOSTNAME'] %>:<%= ENV['NODE_SERVER_PORT'] %>/
 ProxyPassReverse /secure-node-js http://<%= ENV['NODE_SERVER_HOSTNAME'] %>:<%= ENV['NODE_SERVER_PORT'] %>/

 <Location /diagnostics>
   AuthType oauth20
   Require claim ${allowedEmailAddressesClaim}
 </Location>


 ProxyPass /diagnostics/ http://<%= ENV['DIAGNOSTICS_SERVER_HOSTNAME'] %>:<%= ENV['DIAGNOSTICS_SERVER_PORT'] %>/
 ProxyPassReverse /diagnostics/ http://<%= ENV['DIAGNOSTICS_SERVER_HOSTNAME'] %>:<%= ENV['DIAGNOSTICS_SERVER_PORT'] %>/

	# The ServerName directive sets the request scheme, hostname and port that
	# the server uses to identify itself. This is used when creating
	# redirection URLs. In the context of virtual hosts, the ServerName
	# specifies what hostname must appear in the request's Host: header to
	# match this virtual host. For the default virtual host (this file) this
	# value is not decisive as it is used as a last resort host regardless.
	# However, you must set it for any further virtual host explicitly.
	ServerName ${EXTERNAL_DOMAIN_NAME} 
	ServerAlias ${INTERNAL_DOMAIN_NAME}

	ServerAdmin admin@pennidinh.com


 SSLProxyEngine on
 SSLEngine On
 SSLCertificateFile	${SSL_CERTIFICATE_FILE}
 SSLCertificateKeyFile ${SSL_CERTIFICATE_KEY_FILE}

 SSLOptions +StdEnvVars
 
 SSLOptions +StdEnvVars

 BrowserMatch "MSIE [2-6]" \
 nokeepalive ssl-unclean-shutdown \
 downgrade-1.0 force-response-1.0
 # MSIE 7 and newer should be able to use keepalive
 BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown


	# Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
	# error, crit, alert, emerg.
	# It is also possible to configure the loglevel for particular
	# modules, e.g.
	#LogLevel info ssl:warn

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

	# For most configuration files from conf-available/, which are
	# enabled or disabled at a global level, it is possible to
	# include a line for only one particular virtual host. For example the
	# following line enables the CGI configuration for this host only
	# after it has been globally disabled with "a2disconf".
	#Include conf-available/serve-cgi-bin.conf
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
